<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>ReasAp</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">
    <link rel="stylesheet" href="/static/assets/css/reasoning.css">
    <link rel="stylesheet" href="/static/assets/css/form.css">
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'homepage' %}" class="logo">
                          <h1><span id="first">r</span><span id ="second">a</span></h1>
						  <h2>ReasAp</h2>
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'homepage' %}" class="active">Home</a></li>
                          
                          <li class="has-sub">
                              <a href="javascript:void(0)">Subjects</a>
                              <ul class="sub-menu">
                                  <li><a href="{% url 'aptitudepage' %}">Aptitude</a></li>
                                  <li><a href="{% url 'reasoningpage' %}">Reasoning</a></li>
								  <li><a href="{% url 'englishpage' %}">English</a></li>
								  <li><a href="{% url 'technicalpage' %}">Technical</a></li>
                                  
                              </ul>
                          </li>
                          <li><a href="{% url 'homepage' %}">Services</a></li>
                           <li><a href="{% url 'aboutpage' %}">About Us</a></li>
                          <li><a href="{% url 'homepage' %}">Contact Us</a></li> 
						  <li><a href="{% url 'login-page' %}">Login</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
